@layout("/common/_container.html"){
<div class="container-fluid" style="padding: 0 !important;">
	<div class="row">
		<div class="col-sm-12">
			@for(notice in noticeList){
				<div class="alert alert-success alert-dismissable">
					<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
					${notice.content}
				</div>
			<wb:share-button appkey="840487691" addition="simple" type="icon" ralateUid="5012195584" default_text="%E4%BD%A0%E5%A5%BD%E6%88%91%E5%A5%BD%E5%A4%A7%E5%AE%B6%E5%A5%BD">
			@}
		</div>
		<wb:topic uid="5012195584" topmid="z8ClGsZa8" column="y" border="n" width="1150" height="890" tags="%E5%AE%89%E5%BE%BD%E5%B7%A5%E7%A8%8B%E5%A4%A7%E5%AD%A6%2C%E8%8A%9C%E6%B9%96%E6%A0%A1%E5%9B%AD" language="zh_cn" version="base" appkey="1m22RZ" refer="y" footbar="y" filter="n" ></wb:topic>
	</div>
</div>
@}
