@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" underline="true"/>
                            <#input id="openId" name="发帖者openId" underline="true"/>
                            <#input id="messageType" name="消息类型（0失物，1寻物...）" underline="true"/>
                            <#input id="content" name="事件描述" underline="true"/>
                            <#input id="isShow" name="逻辑删除标示（0,显示，1删除）" underline="true"/>
                            <#input id="longitude" name="经度" underline="true"/>
                            <#input id="latitude" name="纬度" underline="true"/>
                            <#input id="detailAddress" name="详细地址" underline="true"/>
                            <#input id="province" name="省份" underline="true"/>
                            <#input id="city" name="市"/>
                </div>

                <div class="col-sm-6">
                            <#input id="district" name="区/县" underline="true"/>
                            <#input id="town" name="镇" underline="true"/>
                            <#input id="createtime" name="创建时间" underline="true"/>
                            <#input id="realLongitude" name="真实经度" underline="true"/>
                            <#input id="realLatitude" name="真实纬度" underline="true"/>
                            <#input id="realProvince" name="真实省" underline="true"/>
                            <#input id="realCity" name="真实市" underline="true"/>
                            <#input id="realDistrict" name="真实区" underline="true"/>
                            <#input id="realDetailAddress" name="真实详细地址" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="MessageInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="MessageInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/message/message_info.js"></script>
@}
