@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" underline="true"/>
                            <#input id="messageId" name="消息id" underline="true"/>
                            <#input id="sendOpenId" name="发起评论人openId" underline="true"/>
                            <#input id="sendAvatar" name="发起评论人头像" underline="true"/>
                            <#input id="sendNickName" name="发起消息人昵称"/>
                </div>

                <div class="col-sm-6">
                            <#input id="receiveOpenId" name="收到评论人openId" underline="true"/>
                            <#input id="receiveAvatar" name="收到评论人头像" underline="true"/>
                            <#input id="receiveNickName" name="收到评论人昵称" underline="true"/>
                            <#input id="content" name="评论内容" underline="true"/>
                            <#input id="time" name="发起消息时间，以页面传来为准" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="MessageCommentInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="MessageCommentInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/messageComment/messageComment_info.js"></script>
@}
