<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.MessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.Message">
        <id column="id" property="id" />
        <result column="openId" property="openId" />
        <result column="message_type" property="messageType" />
        <result column="visitor_count" property="visitorCount" />
        <result column="commont_count" property="commontCount" />
        <result column="content" property="content" />
        <result column="isShow" property="isShow" />
        <result column="longitude" property="longitude" />
        <result column="latitude" property="latitude" />
        <result column="detail_address" property="detailAddress" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="district" property="district" />
        <result column="town" property="town" />
        <result column="createtime" property="createtime" />
        <result column="real_longitude" property="realLongitude" />
        <result column="real_latitude" property="realLatitude" />
        <result column="real_province" property="realProvince" />
        <result column="real_city" property="realCity" />
        <result column="real_district" property="realDistrict" />
        <result column="real_detail_address" property="realDetailAddress" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, openId, message_type AS messageType, content, isShow, longitude, latitude, detail_address AS detailAddress,
        province, city, district, town, createtime, real_longitude AS realLongitude, real_latitude AS realLatitude,
        real_province AS realProvince, real_city AS realCity, real_district AS realDistrict,
        real_detail_address AS realDetailAddress,visitor_count as visitorCount,commont_count as commontCount
    </sql>



    <insert id="insert4primarykey" parameterType="com.stylefeng.guns.modular.system.model.Message" keyProperty="id">
        <selectKey keyProperty='id' resultType='int' order='AFTER'  >
            select LAST_INSERT_ID();
        </selectKey>
        insert into bus_message (openId,message_type,content,isShow,longitude,latitude,detail_address,province,city,
        district,town,createtime)
        values (#{openId,jdbcType=VARCHAR},#{messageType,jdbcType=VARCHAR},#{content,jdbcType=VARCHAR},#{isShow,jdbcType=VARCHAR},
        #{longitude,jdbcType=VARCHAR},#{latitude,jdbcType=VARCHAR},#{detailAddress,jdbcType=VARCHAR},#{province,jdbcType=VARCHAR},
        #{city,jdbcType=VARCHAR},#{district,jdbcType=VARCHAR},#{town,jdbcType=VARCHAR},#{createtime,jdbcType=DATE})
    </insert>

</mapper>
